version: '3.8'

services:
  py_flask:
    build: .
    container_name: py_flask
    working_dir: /app
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./:/app
    command: >
      bash -c "
      pip install -r requirements.txt -i https://mirrors.aliyun.com/pypi/simple/ &&
      python /app/app.py
      "
    expose:
      - "8080"
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      - py_flask
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/html:/usr/share/nginx/html
    restart: always
